<p style="color: green"><%= notice %></p>

<h1>Addresses</h1>

<%= react_component("Address", { addresses: @addresses }) %>

<%= link_to "New address", new_address_path %>
<div>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
</div>
