<p style="color: green"><%= notice %></p>

<%= react_component("Product", { products: @products }) %>

<%= link_to "新規追加", new_product_path %>
<div>
  <%= link_to "ログアウト", sign_out_path, method: :delete %>
</div>
